.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* overflow: hidden; */
    cursor: none;
}

#ball {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid grey;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
}

.header:hover ~ #ball {
    width: 60px;
    height: 60px;
    border: 10px solid transparent;
    border-image: url(../images/rocket.png) 30 round;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}